# =========================
# FRONTEND - Angular
# =========================

/frontend/node_modules/
/frontend/dist/
/frontend/.angular/

# Logs de npm
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/pnpm-debug.log*

# =========================
# BACKEND - Java / Spring Boot
# =========================

/backend/target/
/backend/*.class
/backend/*.jar
/backend/*.war
/backend/*.ear

/backend/uploads/

# Maven
/backend/.mvn/timing.properties

# =========================
# IDE
# =========================

.idea/
*.iml
.vscode/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/

# =========================
# SISTEMA OPERATIVO
# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================
# VARIABLES DE ENTORNO
# =========================

/frontend/.env
/frontend/.env.*
!/frontend/.env.example

/backend/.env
/backend/.env.*
!/backend/.env.example

# Configuración local de Spring
/backend/src/main/resources/application-local.properties
/backend/src/main/resources/application-local.yml
/backend/src/main/resources/application-local.yaml

# =========================
# LOGS
# =========================

*.log