<app-container>
  <div
    style="
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0;
    "
  >
    <div style="width: 40vh; height: 70vh; border-top-left-radius: 10px; border-bottom-left-radius: 10px; overflow: hidden">
      <img
        src="https://material.angular.dev/assets/img/examples/shiba2.jpg"
        alt="Photo of a Shiba Inu"
        style="
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
          display: block;
        "
      />
    </div>

    <div
      style="
        width: 60vh;
        height: 70vh;
        box-sizing: border-box;
        background-color: #ffffff;
        padding: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      "
    >
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 100%;
        "
      >
        <div style="text-align: center; width: 100%; color: #012e40">
          <h1 style="margin-top: 0">Registrarse</h1>
        </div>
        <div style="display: flex; flex-direction: column; width: 100%">
          <div
            style="
              display: flex;
              justify-content: center;
              align-items: center;
              margin-bottom: 1.25rem;
            "
          >
            <div
              style="
                width: fit-content;
                display: flex;
                justify-content: center;
                align-items: flex-end;
                position: relative;
              "
            >
              <div
                style="
                  width: 9rem;
                  height: 9rem;
                  overflow: hidden;
                  border-radius: 9999px;
                  margin-left: auto;
                  margin-right: auto;
                  border: 1px solid #012e40;
                "
              >
                <img
                  [src]="previewCoverImage"
                  alt="No Image"
                  style="width: 100%; height: 100%; object-fit: cover; object-position: center"
                />
              </div>

              <div style="position: absolute; right: -0.5rem">
                <input
                  type="file"
                  accept="image/*"
                  #fileInput
                  hidden
                  (change)="onImageChange($event)"
                />

                <button
                  type="button"
                  (click)="fileInput.click()"
                  matButton="filled"
                  color="primary"
                  style="
                    width: 3rem;
                    height: 3rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0.5rem;
                  "
                >
                  <i class="bi bi-pencil" style="font-size: 1.25rem"></i>
                </button>
              </div>
            </div>
          </div>

          <div style="display: flex; gap: 1rem">
            <mat-form-field style="width: 40%">
              <mat-label>Nombre</mat-label>
              <input matInput />
            </mat-form-field>

            <mat-form-field style="width: 60%">
              <mat-label>Apellidos</mat-label>
              <input matInput />
            </mat-form-field>
          </div>

          <mat-form-field style="width: 100%">
            <mat-label>Email</mat-label>
            <input matInput />
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" />
          </mat-form-field>

          <mat-form-field style="width: 100%">
            <mat-label>Repetir contraseña</mat-label>
            <input matInput type="password" />
          </mat-form-field>

          <div style="width: 100%; display: flex; justify-content: flex-end">
            <button
              matButton="filled"
              style="display: flex; align-items: center; justify-content: center; gap: 10px"
            >
              Crear cuenta
              <i
                class="bi bi-box-arrow-right"
                style="font-size: 1.25rem; line-height: 1; vertical-align: middle; margin-left: 5px"
              ></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-container>
